@import '../constantes.scss';
.rojo{
	color: $color;
}

.panel {
	background-color: $front;
	padding: 5px;
}
p:before{
	font-family: 'bankia-icons-webfont'; 
	content:"\e010";
}
.bg{
	background-image: url('cl/img/k.png');
}